.player-select {
    display: flex;
    background: linear-gradient(
        0deg,
         rgb(114, 114, 114) 0%,
         rgba(200,200,200,1) 40%,
         rgba(200,200,200,1) 60%,
         rgb(114, 114, 114) 100%
    );
}

.player-available {
    flex: 1;
    box-shadow: none;
    min-width: 45%;
    background: linear-gradient(
        0deg,
         rgb(114, 114, 114) 0%,
         rgba(200,200,200,1) 40%,
         rgba(200,200,200,1) 60%,
         rgb(114, 114, 114) 100%
    );
}

.player-select .spacer {
    flex:2;
    width: 50px;
    background: linear-gradient(
        0deg,
         rgb(114, 114, 114) 0%,
         rgba(200,200,200,1) 40%,
         rgba(200,200,200,1) 60%,
         rgb(114, 114, 114) 100%
    );
}

.player-selected {
    flex: 3;
    box-shadow: none;
    min-width: 45%;
}

.form-item input {
    height: 30px;
    width: 100%;
    min-width: 200px;
    margin: 0 0 20px 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 1.8rem;
}

.form-item {
    display: flex;
    flex-direction: column;
}

.form-item.submit-button input {
    font-size: 1.15rem;
}

.form p {
    margin: 0;
    text-align: left;
    text-transform: uppercase;
}