.player-select, .player-selected {
    background: linear-gradient(
        0deg,
         rgb(114, 114, 114) 0%,
         rgba(200,200,200,1) 40%,
         rgba(200,200,200,1) 60%,
         rgb(114, 114, 114) 100%
    );
    margin: 0;
    background: linear-gradient(
        0deg,
         rgb(114, 114, 114) 0%,
         rgba(200,200,200,1) 40%,
         rgba(200,200,200,1) 60%,
         rgb(114, 114, 114) 100%
    );
    display: flex;
    flex-grow: 1;
}

.player-available, .player-selected {
    box-shadow: none;
    width: 100%;
    margin: 0;
}

.spacer {
    width: 100%;
    background: linear-gradient(
        0deg,
         rgb(114, 114, 114) 0%,
         rgba(200,200,200,1) 40%,
         rgba(200,200,200,1) 60%,
         rgb(114, 114, 114) 100%
    );
    flex-grow: 1;
}

.form-item input {
    height: 30px;
    width: 100%;
    min-width: 200px;
    margin: 0 0 20px 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 1.8rem;
}

.form-item {
    display: flex;
    flex-direction: column;
}

.form-item.submit-button input {
    font-size: 1.15rem;
}

.form p {
    margin: 0;
    text-align: left;
    text-transform: uppercase;
}

.roster-main {
    display: flex;
    min-height: 80vh;
}

.roster-left, .roster-center, .roster-right {
    display: flex;
    flex-direction: column;
}

.roster-left, .roster-right {
    flex: 20;
}

.roster-center {
    flex: 1;
}

.player-select{
    overflow-y: auto
}

@media (max-width: 1339px) {
    .roster-main {
        flex-direction: column;
    }

    .roster-center .roster-section {
        display: none;
    }
}