/* HTML LEVEL CHANGES */
html {
    font-family: 'Roboto', sans-serif;
    /* 
    Also available:
    font-family: 'Roboto Condensed', sans-serif;
    */
}



/* MAIN CONTAINER */

.container {
    margin: auto;
    width: 70%;
    padding: 40px 0 0 0;
}

/* ROSTER */

.roster table {
    width: 100%;
    border-collapse: collapse;
    color: rgb(0, 0, 0);
}

.roster th, td {
    border-bottom: 1px solid black;
}

.roster th {
    background-color: rgba(228, 228, 228);
}

.roster tr:nth-child(even) {
    background-color: rgb(255, 255, 255);
}

.roster tr:nth-child(odd) {
    background-color: rgb(206, 213, 233);
}

.roster {
    background-color: rgba(37, 37, 37, 0.0);
    border-radius: 10px;
    box-shadow: -10px -10px 30px rgba(37, 37, 37, 0.4);
}

.roster_title {
    border-bottom: 1px solid black;
    border-radius: 10px 10px 0 0;
    text-transform: uppercase;
    padding: 10px 0 10px 10px;
    background-color: rgba(37, 37, 37, 0.8);
}

.roster_title h2 {
    margin: 0;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 700;
    font-size: 3rem;
    color: rgba(255, 255, 255, 1)
}

.roster-instructions {
    background-color: rgba(37, 37, 37, 0.8);
    border-radius: 0 0 10px 10px;
}

.roster-instructions p {
    color: rgba(255, 255, 255, 1);
    padding: 10px 0 10px 10px;
    text-align: center;
    margin: 0;
}

/* TEAM INFORMATION */

.team_info_image {
    height: 150px;
    order: 1;
    border-radius: 5px;
}

.team_info {
    display: flex;
    background-color: darkgrey;
    border-radius: 10px;
    padding: 10px;
}

.team_info_text {
    order: 2;
    padding-left: 30px;
}

.team_info_text h1 {
    font-size: 3rem;
    text-transform: uppercase;
}

.team_info * {
    margin: 0;
}