<html>
    <head>
        <title>CK Fantasy Hockey</title>
        <link rel="stylesheet" href={{ "/static/css/" + css + ".css" }}>
        <link rel="stylesheet" href={{ "/static/css/" + css2 + ".css" }}>
    </head>
    <body>
        <div id='root'></div>

        {# REACT CDN #}
        <script crossorigin src="https://unpkg.com/react@17/umd/react.development.js"></script>
        <script crossorigin src="https://unpkg.com/react-dom@17/umd/react-dom.development.js"></script>

        {# FONT AWESOME CDN #}
        <script src="https://kit.fontawesome.com/bc02678277.js" crossorigin="anonymous"></script>
        
        {# PYTHON DUMPS DATA HERE - ACCESSIBLE IN OUR JS BEYOND THIS #}
        <script type='text/javascript'>
            let dataFromServer = JSON.parse('{{ dataFromServer | tojson }}');
        </script>

        {# NEEDED FOR ROUTES #}
        <script crossorigin src={{ '/static/js/' + page + '.js' }} type="module"></script>
    </body>
</html>